.title {
    border-bottom: solid;
    border-color: gray;
    padding: 10px;
}

.title-header {
    text-align: center;
}

.centered {
    align-content: center;
}

.margin-top {
    margin-top: 40px;
}

.city-selector {
    width: 224px;
}